<div>
  <div class="tournament-heading">
    <p>
      <span class="pull-left">
        <%= title %>
      </span>
    </p>
  </div>
</div>

<%= render 'dashboard/partials/match_list', matches: matches %>