<p>Hello <%= @user.username %>,</p>

<p>Your KYC request approval is <b>Initiated</b></br>

<p> Please visit the website & pay the required transaction fee to process it on blockchain </p>

<p>Thanks & Regards </p>
<p>betdefi.com</p>
