<p>Hello <%= @ledger.betable.username %>,</p>

<p>Your withdrawal request approval of amount <%= '%.10f' % @ledger.amount %> is <b>Initiated</b></br>

<p> Soon it will be credit in your account</p>

<p>Thanks & Regards </p>
<p>betdefi.com</p>

