<%# title = is_sub_admin_tab?(params[:role]) ? t('sub_admins.sub_admin') : t('resellers.reseller') %>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%#= title %></h2>
    <h2>Affiliate</h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%#= t('new_title', name: title) %></h5>
          <h5>New Affiliate</h5>
        </div>
        <div class="ibox-content">
          <%= render 'form' %>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
