/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require ./kb_theme/bootstrap.min.css
 *= require ./kb_theme/style.css
 *= require ./kb_theme/responsive.css
 *= require ./kb_theme/all.css
 *= require ./kb_theme/owl.carousel.min.css
 */

.general-text-list ol {
  padding-left: 0px;
}
  
.general-text-list ol li {
  color: #fff;
  margin-bottom: 20px;
}