<h1 style="margin: 0px; padding: 0px;">Hi, <%= @resource&.first_name&.titleize %></h1>
<p style="margin-top: 10px; padding: 0px;">We're contacting you to notify you that your password has been changed.</p>
