<h1 style="margin: 0px; padding: 0px;">Hi, <%= @resource&.first_name&.titleize %></h1>
<p style="margin-top: 10px; padding: 0px;">Someone has requested a link to change your password. You can do this through the link below.</p>

<p style="margin-top: 10px; padding: 0px;"><%= link_to 'Change my password', dynamic_url(edit_password_url(@resource, reset_password_token: @token)) %></p>

<p style="margin-top: 10px; padding: 0px;">If you didn't request this, please ignore this email.</p>
<p style="margin-top: 10px; padding: 0px;">Your password won't change until you access the link above and create a new one.</p>