<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= t('referral_records') %></h2>
  </div>
  <div class="col-lg-2">
    <div class="back-btn">
      <%= link_to :back, class: 'btn btn-primary' do %>
        <span class="fa fa-arrow-circle-o-left"></span> Back
      <% end %>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <% if params[:referrer_id].blank? %>
    <div class="row">
      <%= render "referral_record_filter" %>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Records</h5>
          <div class="ibox-tools">
          </div>
        </div>
        <div class="ibox-content" id="referral-record-list">
          <%= render 'referral_record_list', records: @records %>
        </div>
      </div>
    </div>
  </div>
</div>
