<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      .content-sec a{ color: #DFC174; }
    </style>
    <title>BetDefi</title>
  </head>

  <body style="padding: 0px; margin: 0px;	font-family: 'Arial'; background: #0e0e0d;">
    <div style="padding: 0px; margin: 0px; width: 100%; margin: 0 auto;">
      <div class="main-container" style="background: #1E2126; ">
        <div class="email-head" style="color: white; text-align: left; text-decoration: underline; padding: 15px; padding-bottom: 5px;">
          <img src="https://res.cloudinary.com/ddzdukj0a/image/upload/v1611058152/logo_eyo095.png" style="width: 15%;">
        </div>
        <div class="content-sec" style="	margin-top: 10px; display: inline-block;width: 100%; padding: 15px 15px; color: #ffffff; background: #0e0e0d; text-align: left; font-size: 20px;">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>

</html>


